.container{
  max-width: 49%;
  //min-width: 30%;
  height: 15%;
  text-decoration: none;
  line-height: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  //border: 1px solid white;

  font-family: "SF UI Display", sans-serif;

  span{
    width: 100%;
    font-size: 12px;
    color: white;

  }
  img{
    max-width: 100%
  }
}
.sizes_block{
  width: auto;
  height: auto;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  column-gap: 8px;
  background-color: darkorchid;
  p{
    height: 1.07em;
    color: white;
    font-family: "SF UI Display", sans-serif;
  }
}

.name{
  height: 3em;
  //border: 1px solid red;
}

.sizes_wrapper{
  width: 100%;
  min-height: 3em;
  //border: 1px solid blue;
}

.void{
  color: black;
  overflow: hidden;
}