.container{
  min-height: 100vh;
}

.goods{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  padding: 2vw;

  //border: 1px solid red;

  background-color: black;
}